@import '../variables.css';

.weatherOverview {
  height: 48px;
  background: #1B1B1B;
  box-shadow: inset 0px -5px 10px 0px rgba(51,51,51,1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Current{
  color: #ffffff;
}

.Name {
  color: #ffffff;
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;

}

li span {
  display: flex;
  flex-direction: column;

}

li .dayIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
