@import '../variables.css';

.weatherOverview {
  height: 56px;
  background: #1b1b1b;
  box-shadow: inset 0 -5px 10px 0 rgba(0, 0, 0, 0.9);
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.current {
  color: #fff;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentIcon {
  padding: 0 15px;
}

.dayName {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.forecast {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forecast > div {
  padding-left: 15px;
}
