@import '../global.css';

.checkbox {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  margin: 0;
  cursor: pointer;
  width: 100%;
}

.checkbox span {
  display: inline-block;
  font-size: 1.1em;
  padding-right: 1em;
  user-select: none;
}

.checkbox > svg {
  display: inline-block;
  transition: transform 0.2s ease;
  pointer-events: none;
  min-width: 18px;
  min-height: 18px;
}

.checkbox:active > svg {
  transform: scale3d(0.9, 0.9, 1);
}

.checkbox > input + svg .checked {
  display: none;
}

.checkbox > input:checked + svg .unchecked {
  display: none;
}

.checkbox > input:checked + svg .checked {
  display: initial;
}

.checkbox > input:checked + svg path {
  fill: var(--primary-color);
}

.checkbox > input:disabled + svg {
  cursor: default;
}

.checkbox > input:disabled + svg:active {
  transform: none;
}

.checkbox > input:disabled + svg path {
  fill: #b0b0b0;
}

.checkbox > input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
