@import '../../components/global.css';

.mockPage {
  /*background: linear-gradient(to left, #00d2ff , #3a7bd5);*/
  /*background: linear-gradient(to left, #4b6cb7 , #182848);*/
  background: linear-gradient(to left, #24C6DC , #514A9D);
}

.inner {
  padding: 50px;
}

.frame {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
