@import 'variables.css';

:global {
  html,
  body,
  #app {
    height: 100%;
  }
}

/*
 * Base styles
 * ========================================================================== */
.page {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  flex: 0 0 auto;
}

.content {
  flex: auto;
}
