@import 'variables.css';
/* FIXME: Causes duplication every time it's included due to
postcss-import/css-loader inlining the files */
@import 'normalize.css';
@import 'material-design-lite/material.css';

:global {
  html,
  body,
  #app {
    height: 100%;
  }
}

/*
 * Base styles
 * ========================================================================== */
.page {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  flex: 0 0 auto;
}

.content {
  flex: auto;
}
