:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Colors
   * ======================================================================== */
   --header-color: #F2F2F2;
   --text-color: #212121;
   --text-light-color: #212121;
}
