@import '../global.css';

.mapControls {
  box-shadow: 0 -5px 10px 0px rgba(51, 51, 51, 0.3);
  z-index: 10000;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.play {
  @extend .vertical-center;
}

.playButton {
  color: black;
  cursor: pointer;
}

.slider {
  @extend .vertical-center;
  /*flex-direction: column;*/
  flex-grow: 1;
}

.speed {
  @extend .vertical-center;
  justify-content: center;
  font-weight: bold;
  width: 36px;
  color: black;
  text-align: center;
  text-decoration: none;
}

.speed span {
  display: inline-block;
  font-size: 1.714em;
}

.currentDate {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
