@import '../global.css';

.mapControls {
  box-shadow: 0 -5px 10px 0px rgba(51, 51, 51, 0.3);
  z-index: 10000;
  height: 50px;
  width: 100%;
}

.playButton {
  left: 5%;
  width: 10%;
  color: black;
  height: 90%;
  top: 5%;
}