@import '../global.css';

.locationIcon {
  border: 3px solid white;
  background: var(--primary-color);
  height: 16px;
  width: 16px;
  border-radius: 16px;
  opacity: 0.8;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.lightningIcon {
  position: relative;
  border: 3px solid #efdd37;
  background-color: black;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  opacity: 08;
  z-index: 100;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
}

.lightningIcon::after {
  content: '';
  border: 5px solid #efdd37;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  animation: pulse 1s ease-in;
  opacity: 0;
  box-sizing: border-box;
  z-index: 10;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  50% { opacity: 0.5; }

  100% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
}
