.navigation {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
  text-align: center;
}

.link,
.link:active,
.link:visited {
  color: rgba(22, 22, 22, 0.6);
}

.link:hover {
  color: rgba(22, 22, 22, 1);
}

.middleicons .link i {
  display: flex;
  flex-direction: column;
}

.middleicons .link span {
  display: flex;
  flex-direction: column;
}

.edgeicons {
  display: flex;
  align-items: center;
}
